.character-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    cursor: default;
}

.character-card img {
    width: 250px;
    height: 375px;
    object-fit: contain;
    transition: all 0.8s;
}

.character-card img:hover {
    transform: scale(1.4);
    z-index: 9;
}

.character-card > p {
    font-size: x-large;
}

@media (width >= 768px) {
    .character-card {
        gap: 25px;
    }

    .character-card img:hover {
        transform: scale(1.5);
    }
}
