.link-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 10px;
    text-shadow: var(--db-shadow-two);
    background-color: transparent;
    font-size: x-large;
}
