.newCharacters-container,
.newCharacters-empty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    background-image: url("/assets/sky.webp");
    background-size: auto 100%;
    background-position: center;
}

.newCharacters-empty {
    text-shadow: var(--db-text-shadow-two);
    cursor: default;
    animation: parpadeo 1s infinite;
}

@media (width >= 1280px) {
    .newCharacters-container,
    .newCharacters-empty {
        background-size: 100%;
    }
}

@media (width >= 1520px) {
    .newCharacters-container,
    .newCharacters-empty {
        background-size: 105%;
    }
}
