.manageCharacters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/radar.webp");
    background-size: auto 100%;
    background-position: center;
    font-size: large;
}

.title-manageCharacters {
    text-shadow: 1px 2px var(--db-color-b);
    cursor: default;
}

.manageCharacters-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 20px;
}

.nameCharacter-container,
.kiCharacter-container,
.kiMaxCharacter-container,
.imageCharacter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-shadow: 1px 2px var(--db-color-b);
}

.manageCharacters-form label {
    padding: 5px;
    text-shadow: 1px 2px var(--db-color-b);
    font-size: xx-large;
}

.manageCharacters-container input {
    height: 40px;
    color: var(--db-color-b);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    border-radius: 10px;
}
.manageCharacters-container input:hover,
button:hover {
    animation: parpadeo 1s infinite;
}

.imageCharacter-container input {
    max-width: 250px;
    height: 20px;
    color: var(--db-color-two);
    font-size: 14px;
    border-radius: 0px;
}

.manageCharacters-container button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid var(--db-color-two);
    text-shadow: 1px 2px var(--db-color-b);
    font-size: x-large;
    margin: 30px;
}

@media (width >= 800px) {
    .manageCharacters-container {
        background-size: 100%;
    }
}
