.manageCharacters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/world.webp");
    background-size: auto 100%;
    background-position: center;
    font-size: large;
    background-color: var(--db-color-two);
}

.title-manageCharacters {
    text-shadow: var(--db-text-shadow-one);
    cursor: default;
}

@media (width >= 1285px) {
    .manageCharacters-container {
        background-size: 100%;
    }
}
