.modal-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 30px;
    z-index: 99;
    background-color: #556effdd;
}

.modal-name {
    font-size: xx-large;
    text-shadow: var(--db-shadow-two);
    cursor: default;
}

.modal-image {
    width: 200px;
    /* overflow: visible; */
    object-fit: contain;
    transition: all 0.8s;
    cursor: pointer;
}

.modal-image:hover {
    transform: scale(1.5);
    z-index: 9;
}

.modal-ki,
.modal-ki-max {
    cursor: default;
}

.modal-button-close {
    position: relative;
    /* bottom: 0; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    font-size: x-large;
    text-shadow: var(--db-shadow-two);
    cursor: pointer;
}

.modal-button-close > img {
    width: 80px;
}

/* @media (width >= 1024px) {
    .modal-card {
        width: 150px;
        height: 200px;
    }

    .modal-card p {
        max-width: 150px;
        margin-top: 150px;
        font-size: xx-large;
    }
} */
