header {
    display: block;
    width: 100%;
    height: 8svh;
}

.desktop-header {
    display: none;
    width: 100%;
}

.mobile-header {
    display: block;
    width: 100%;
}

@media (width >= 768px) {
    .desktop-header {
        display: block;
    }

    .mobile-header {
        display: none;
    }
}
