/* button {
    background-color: transparent;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    color: var(--db-color-two);
    text-shadow: var(--db-shadow-two);
}

button:hover {
    text-shadow: var(--db-shadow-one);
}

button:disabled {
    cursor: not-allowed;
}

@media (width >= 1024px) {
    button {
        font-size: x-large;
    }
} */
