.newCharacters-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    border: 1px solid #000;
    border-radius: 10px;
}
.newCharacters-card img {
    width: 100px;
    height: 200px;
    object-fit: contain;
}
