main {
    min-height: 90svh;
}

.home-container,
.characters-container,
.character-container,
.transformations-container,
.manageCharacters-container,
.newCharacters-container,
.newCharacters-empty,
/* .loader, */
.notFound-container {
    min-height: 82svh;
    padding-top: 50px;
}

@media (width >= 632px) {
    .home-container,
    .characters-container,
    .character-container,
    .transformations-container,
    .manageCharacters-container,
    .newCharacters-container,
    .newCharacters-empty,
    /* .loader, */
    .notFound-container {
        min-height: 85svh;
    }
}
