.data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data a {
    padding: 0px 20px;
}

.data img {
    width: 20px;
    height: 20px;
}

@media (width >= 800px) {
    .data img {
        width: 25px;
        height: 25px;
    }
}
